body {
  font-family: "Oswald", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.bg-oscuro {
  background-color: #660066;
}

.navbar-brand {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

footer {
  background-color: #660066;
}

footer h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2em;
}
