body {
  font-family: "Oswald", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.bg-violeta {
  background-color: #660066;
}

.navbar-brand {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

header {
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  padding-bottom: 30em;
}
header h1 {
  font-size: 8vw;
}

#experiencia i {
  color: #660066;
}

#ultimos-trabajos {
  background-color: #660066;
}

footer {
  background-color: #660066;
}

footer h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 3em;
}
